.user-info {
  .navBar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    .van-icon {
      color: black;
    }
  }

  i {
    padding-right: 5px;
  }

  &-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;

    .van-image {
      border: 1px solid #dfe6e9;
    }

    span {
      margin-top: 10px;
      font-size: 14px;
      color: #a4b0be;
    }
  }

  .van-button {
    display: block;
    width: 80%;
    margin: 40px auto 0;
  }

  .van-field {
    margin-top: 50px;
    input {
      font-size: 1rem;
    }
  }

  .van-popup {
    background: #f7f8fa;
  }
}
